<persistence xmlns="http://java.sun.com/xml/ns/persistence" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence persistence_1_0.xsd" 
    version="1.0"> 
    <persistence-unit name="NullPointer" transaction-type="RESOURCE_LOCAL"> 
	    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider> 
	    <class>model.Bairro</class>
	    <class>model.Cidade</class>
	    <class>model.DadosContaUsuario</class>
	    <class>model.Denuncia</class>
	    <class>model.Estado</class>
	    <class>model.ImagemDenuncia</class>
	    <class>model.LocalDenuncia</class>
	    <class>model.Mensagem</class>
	    <class>model.Pais</class>
	    <class>model.TipoDenuncia</class>
	    <class>model.TipoUsuario</class>
	    <class>model.Usuario</class>
   	</persistence-unit> 
</persistence>